In [1]:
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('chefmozcuisine.csv', sep=',',skiprows=1, names=['placeID','cuisine'])

In [5]:
df.head()

   placeID         cuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

In [8]:
place_titles = pd.read_csv('geoplaces2.csv')
place_titles.head()

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,open,none
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rinc�n de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,only at bar,informal,partially,medium,?,familiar,f,open,none
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,t,closed,none
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,permitted,informal,completely,medium,?,familiar,t,closed,none

In [9]:
df = pd.merge(df, place_titles, on='placeID')
df.head()

,placeID,cuisine,latitude,longitude,the_geom_meter,name,address,city,state,country,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,135109,Italian,18.921785,-99.235350,0101000020957F0000A6BF695F136F5AC1DADF87B20556...,Paniroles,?,?,?,?,...,Wine-Beer,not permitted,informal,no_accessibility,medium,?,quiet,f,closed,Internet
1,135106,Mexican,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rinc�n de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,...,Wine-Beer,only at bar,informal,partially,medium,?,familiar,f,open,none
2,135104,Mexican,23.752982,-99.168434,0101000020957F00007CDF5EAFC58157C1645743B23E4F...,vips,?,?,?,?,...,Full_Bar,not permitted,informal,completely,medium,?,familiar,t,closed,variety
3,135088,Cafeteria,18.876011,-99.219890,0101000020957F0000E14AD4DBC7765AC1F7B33C85B153...,Cafeteria cenidet,Interior Internado Palmira SN,Cuernavaca,Morelos,Mexico,...,No_Alcohol_Served,not permitted,informal,no_accessibility,low,www.cenidet.edu.mx,quiet,f,closed,none
4,135086,Burgers,22.141421,-101.013955,0101000020957F0000FA1A0E5A9B4858C17C884C4173AE...,Mcdonalds Parque Tangamanga,Lateral Salvador Nava Martinez 3145,San Luis Potosi,SLP,Mexico,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,t,closed,none

In [11]:
df.columns

Index(['placeID', 'cuisine', 'latitude', 'longitude', 'the_geom_meter', 'name',
       'address', 'city', 'state', 'country', 'fax', 'zip', 'alcohol',
       'smoking_area', 'dress_code', 'accessibility', 'price', 'url',
       'Rambience', 'franchise', 'area', 'other_services'],
      dtype='object')

In [48]:
dfofPlaceCuisinePrice=df[['placeID','cuisine','price']]

In [49]:
dfofPlaceCuisinePrice.head()

   placeID    cuisine   price
0   135109    Italian  medium
1   135106    Mexican  medium
2   135104    Mexican  medium
3   135088  Cafeteria     low
4   135086    Burgers  medium

In [50]:
from sklearn import preprocessing

In [51]:
le = preprocessing.LabelEncoder()
le1 = preprocessing.LabelEncoder()
dfofPlaceCuisinePrice['cuisine'] = le.fit_transform(dfofPlaceCuisinePrice.cuisine.values)

In [53]:
dfofPlaceCuisinePrice['price'] = le1.fit_transform(dfofPlaceCuisinePrice.price.values)

In [54]:
dfofPlaceCuisinePrice.head(10)

   placeID  cuisine  price
0   135109       15      2
1   135106       18      2
2   135104       18      2
3   135088        8      1
4   135086        6      2
5   135086       12      2
6   135085       12      2
7   135079        9      0
8   135075       21      2
9   135074       10      0

In [66]:
dfofPlaceCuisinePrice

     placeID  cuisine  price
0     135109       15      2
1     135106       18      2
2     135104       18      2
3     135088        8      1
4     135086        6      2
..       ...      ...    ...
107   132594       18      1
108   132584       18      2
109   132583        0      1
110   132572        8      1
111   132560       20      1

[112 rows x 3 columns]

In [55]:
list(le1.inverse_transform([0, 1, 2]))

['high', 'low', 'medium']

In [68]:
maxval=dfofPlaceCuisinePrice['cuisine'].idxmax()
maxval

87

In [72]:
maxcuisine=dfofPlaceCuisinePrice['cuisine'][maxval]

In [73]:
listofdata=[]
for im in range(maxcuisine):
    listofdata.append(im)

In [74]:
listofdata

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [75]:
list(le.inverse_transform(listofdata))

['American',
 'Armenian',
 'Bakery',
 'Bar',
 'Bar_Pub_Brewery',
 'Breakfast-Brunch',
 'Burgers',
 'Cafe-Coffee_Shop',
 'Cafeteria',
 'Chinese',
 'Contemporary',
 'Family',
 'Fast_Food',
 'Game',
 'International',
 'Italian',
 'Japanese',
 'Mediterranean',
 'Mexican',
 'Pizzeria',
 'Regional',
 'Seafood']

In [79]:
opof=df[df['cuisine']=='American']

In [80]:
opof

,placeID,cuisine,latitude,longitude,the_geom_meter,name,address,city,state,country,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
58,132958,American,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,avenida hivno nacional,san luis potosi,san luis potos,mexico,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none
61,132951,American,22.154474,-100.985809,0101000020957F0000BAC859A0634758C1C3E84FCAA5A5...,VIPS,NICOLAS ZAPATA 300,San Luis Potosi,San Luis Potosi,Mexico,...,No_Alcohol_Served,not permitted,casual,completely,low,?,familiar,f,closed,none
68,132872,American,22.173595,-100.994603,0101000020957F0000942C3434384458C1C2D3499804A7...,Pizzeria Julios,?,s.l.p,mexico,?,...,No_Alcohol_Served,not permitted,informal,partially,medium,?,familiar,f,closed,none
78,132851,American,22.136872,-100.934574,0101000020957F0000C74DE39C7F4B58C1061F29171498...,KFC,?,San Luis Potosi,San Luis Potosi,Mexico,...,No_Alcohol_Served,not permitted,informal,completely,low,?,familiar,f,closed,none
109,132583,American,18.922290,-99.234332,0101000020957F0000FBE7171F056F5AC1E8A6C0A5AF55...,McDonalds Centro,Rayon sn col. Centro,Cuernavaca,Morelos,Mexico,...,No_Alcohol_Served,not permitted,informal,partially,low,no,familiar,t,closed,none